// ============ GLOBAL OVERRIDES ============

html
  -webkit-box-sizing: border-box
     -moz-box-sizing: border-box
          box-sizing: border-box

*,
*::before,
*::after
  -webkit-box-sizing: inherit
     -moz-box-sizing: inherit
          box-sizing: inherit

html
  height: 100%
  min-height: 100%
  -ms-touch-action: manipulation
  touch-action: manipulation

body
  height: 100%
  width: 100%
  margin: 0
  padding: 0

// ============ CONTAINER ELEMENTS ============

#root
  background-color: $page_background_color
  min-height: 100%
  margin: 0
  padding: 0

.container
  margin: 0 auto
  max-width: 700px

  &:before
    content: ""
    background-color: #fff
    width: 100%
    height: 200px
    position: absolute
    top: 0
    left: 0

.no-scroll
  overflow: hidden

// ============ REUSABLE COMPONENTS ===========

.btn-round
  background-color: #cc4214
  color: #fff
  border: none
  border-radius: 999em
  width: 56px
  height: 56px
  line-height: 56px
  font-size: 24px
  padding: 0
  position: relative
  cursor: pointer
  display: flex
  align-items: center
  justify-content: center
  @extend %mdl-shadow--6dp

  &:active
    transform: translateY(2px)
    @extend %mdl-shadow--3dp

// ACTION BUTTON VARIANT
.btn-action
  position: fixed
  bottom: 20px
  right: 20px
  z-index: 1


// ============ COMPONENTS ============

// HEADER
header
  height: 200px
  width: 100%
  top: 0
  left: 0
  background-color: #fff
  @extend %flexbox-vertical-center-children

  animation-duration: 1.5s
  animation-name: fadein
  animation-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1)

.header__logo-container
  margin: 0 auto
  background-image: url('assets/raindrop.svg')
  background-position: center
  background-repeat: no-repeat
  padding: 40px
  height: 150px
  width: 125px
  position: relative

// ITEM LIST
.item-list
  background-color: $page_background_color
  list-style: none
  margin: 0
  padding: $default_padding_amount
  position: relative

  animation-duration: 1.5s
  animation-name: slidein-item
  animation-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1)

.item-list__show-more-btn
  background: none
  border: none
  width: 100%
  border-radius: 2px
  color: white
  cursor: pointer
  font-size: 24px
  padding: 20px
  transition: 0.1s background ease-out

  &:hover
    background: rgba(255,255,255,0.2)

  &:focus
    outline: 1px dashed rgba(255,255,255,.4)

// ADD ITEM
.add-item-form
  background-color: #fff
  position: fixed
  top: 0
  bottom: 0
  left: 0
  right: 0
  width: 100%
  height: 100%
  overflow-y: scroll
  padding: $default_padding_amount
  z-index: 3

  animation-duration: 0.4s
  animation-name: slidein-up
  animation-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1)

.add-item-form__input-container
  border-bottom: 3px solid #31abe1
  margin: 0 auto $default_padding_amount auto
  width: 100%
  max-width: 660px
  position: relative
  
  .spinner
    height: 15px
    width: 15px
    border-width: 2px
    margin: 0
    position: absolute
    top: -7px
    right: -7px

.add-item-form__input
  border: none
  color: #31abe1
  background: none
  display: block
  font-size: 32px
  width: 100%

  &:focus
    outline: none

// ============ LOADING SPINNER ============


.spinner
  height: 75px
  width: 75px
  margin: 40px auto 0 auto
  position: relative
  -webkit-animation: fadein 1.5s, rotation .6s infinite linear
  -moz-animation: fadein 1.5s, rotation .6s infinite linear
  -o-animation: fadein 1.5s, rotation .6s infinite linear
  animation: fadein 1.5s, rotation .6s infinite linear
  border-radius: 100%
  border-left-width: 8px
  border-right-width: 8px
  border-bottom-width: 8px
  border-top-width: 8px
  border-left-style: solid
  border-right-style: solid
  border-bottom-style: solid
  border-top-style: solid

  &.spinner-light
    border-left-color: rgba(255, 255, 255, 0.15)
    border-right-color: rgba(255, 255, 255, 0.15)
    border-bottom-color: rgba(255, 255, 255, 0.15)
    border-top-color: rgba(255, 255, 255, 0.6)

  &.spinner-dark
    border-left-color: rgba(0, 0, 0, 0.15)
    border-right-color: rgba(0, 0, 0, 0.15)
    border-bottom-color: rgba(0, 0, 0, 0.15)
    border-top-color: rgba(0, 0, 0, 0.6)
  

.spinner__text
  @extend %visuallyhidden