// ============ GLOBAL OVERRIDES ============

html
  -webkit-box-sizing: border-box
     -moz-box-sizing: border-box
          box-sizing: border-box

*,
*::before,
*::after
  -webkit-box-sizing: inherit
     -moz-box-sizing: inherit
          box-sizing: inherit

html
  height: 100%
  min-height: 100%
  -ms-touch-action: manipulation
  touch-action: manipulation

body
  height: 100%
  width: 100%
  margin: 0
  padding: 0

// ============ CONTAINER ELEMENTS ============

#root
  background-color: $page_background_color
  border-top: 200px solid #fff
  min-height: 100%
  margin: 0
  padding: 0

.container
  margin: 0 auto
  max-width: 700px
  padding: 0 $default_padding_amount



// ============ REUSABLE COMPONENTS ===========

.btn-round
  background-color: #cc4214
  border: none
  border-radius: 999em
  width: 56px
  height: 56px
  line-height: 1
  font-size: 36px
  position: relative
  cursor: pointer
  @extend %mdl-shadow--6dp

  &:active
    transform: translateY(2px)
    @extend %mdl-shadow--3dp

  span
    position: absolute
    left: 0
    top: 50%
    height: 100%
    width: 100%
    text-align: center
    margin-top: -20px
    color: #FFF



// ============ COMPONENTS ============

// HEADER
header
  height: 200px
  width: 100%
  position: fixed
  top: 0
  left: 0
  @extend %flexbox-vertical-center-children

  animation-duration: 1.5s
  animation-name: fadein
  animation-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1)

  div
    margin: 0 auto
    background-image: url('assets/raindrop.svg')
    background-position: center
    background-repeat: no-repeat
    padding: 40px
    height: 150px
    width: 125px
    position: relative

h1
  font-family: 'BTRaindrops'
  // font-family: 'SmartKid'
  line-height: .9
  color: white
  display: block
  font-size: 26px
  text-align: right
  margin: 0
  min-width: 100px
  transform: rotate(-5deg)
  position: absolute
  bottom: 22px
  right: 14px

// ITEM LIST
.item-list
  background-color: $page_background_color
  list-style: none
  margin: 0
  padding: $default_padding_amount 0
  position: relative

  animation-duration: 1.5s
  animation-name: slidein-item
  animation-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1)

// ITEM
$item_border_radius: 2px
$item_poster_height_small: 150px
$item_poster_width_small: 100px
$item_poster_height_medium: 300px
$item_poster_width_medium: 200px
$item_footer_button_height: 32px

.item
  background-color: #fff
  border-radius: $item_border_radius
  margin-bottom: $default_padding_amount
  position: relative
  min-height: $item_poster_height_small
  @extend %mdl-shadow--2dp

  &:last-of-type
    margin-bottom: 0

  @media (min-width: $break_small)
    min-height: $item_poster_height_medium

.item__poster
  height: $item_poster_height_small
  width: $item_poster_width_small
  position: absolute
  top: 0
  bottom: 0
  border-radius: $item_border_radius 0 0 $item_border_radius

  @media (min-width: $break_small)
    height: $item_poster_height_medium
    width: $item_poster_width_medium

.item__info-block
  padding: $default_padding_amount
  font-size: 13px
  font-weight: 300

.item__label
  position: absolute
  left: 0
  top: 0
  padding-top: inherit
  padding-bottom: inherit
  padding-right: 44px
  padding-left: $item_poster_width_small + $default_padding_amount
  width: 100%

  @media (min-width: $break_small)
    padding-left: $item_poster_width_medium + $default_padding_amount

.item__name
  font-size: 14px
  display: inline-block
  font-weight: 500
  margin: 0

  @media (min-width: $break_small)
    font-size: 18px

.item__genre, .item__tech-info
  margin: 0

.item__scores
  list-style-type: none
  position: absolute
  top: 0
  right: 0
  text-align: right
  width: 55px
  padding-top: inherit
  padding-right: inherit
  padding-left: 0
  padding-bottom: 0

.item__description
  border-top: 1px dashed $border_gray
  margin-top: $item_poster_height_small - $default_padding_amount - 1px
  padding-top: $default_padding_amount
  padding-bottom: $item_footer_button_height
  transition: font-size .2s, margin .2s, padding .2s, opacity .4s .2s
 
  .item-collapsed &
    @media (max-width: $break_before_small)
      font-size: 0
      margin: 0
      padding: 0
      opacity: 0
      transition: opacity .2s, font-size .4s .2s, margin .4s .2s, padding .4s .2s

  @media (min-width: $break_small)
    border: none
    padding-right: 44px
    padding-left: $item_poster_width_medium
    margin-top: 100px

.item__footer
  display: flex
  position: absolute
  bottom: 0
  left: 0
  height: $item_footer_button_height
  width: 100%
  transition: padding .2s .2s

  .item-collapsed &
    @media (max-width: $break_before_small)
      padding-left: 100px
      transition: padding .2s

  @media (min-width: $break_small)
    padding-left: $item_poster_width_medium

.item__footer-btn
  border: none
  background-color: $background-color_gray
  line-height: 28px
  cursor: pointer
  padding: 0 16px
  flex: 1
  overflow: hidden
  white-space: nowrap
  transition: flex .2s .2s, padding .2s .2s, border .2s .2s

  &:focus
    text-decoration: underline
    outline: none

  @media (max-width: $break_before_small)
    border-right: 4px solid white

    &:last-of-type
      border-right: none

    .item-collapsed &
      border-right: 0 solid white
      transition: flex .2s, padding .2s, border .2s

.item__btn-moreinfo
  @media (min-width: $break_small)
    display: none

.item__btn-delete

  .item-collapsed &
    @media (max-width: $break_before_small)
      flex: .0001
      padding: 0
      

// ADD ITEM
.btn-open-add-item
  position: fixed
  bottom: 20px
  right: 20px

.add-item-form
  background-color: white
  position: fixed
  bottom: 0
  left: 0
  width: 100%
  height: 200px
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2)

  animation-duration: 0.4s
  animation-name: slidein-up
  animation-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1)

.add-item-form__input
  border: none
  display: block
  font-size: 48px
  margin: 20px auto 0 auto
  height: 120px
  width: 100%
  max-width: 660px

.add-item-form__footer
  background-color: #f2f2f2
  position: absolute
  left: 0
  bottom: 0
  width: 100%
  direction: rtl

  button
    background: none
    border: none
    padding: 10px 20px
    text-transform: uppercase

// ============ LOADING SPINNER ============


.spinner
  height: 75px
  width: 75px
  margin: 40px auto 0 auto
  position: relative
  -webkit-animation: rotation .6s infinite linear
  -moz-animation: rotation .6s infinite linear
  -o-animation: rotation .6s infinite linear
  animation: rotation .6s infinite linear
  border-left: 8px solid rgba(0, 0, 0, 0.15)
  border-right: 8px solid rgba(0, 0, 0, 0.15)
  border-bottom: 8px solid rgba(0, 0, 0, 0.15)
  border-top: 8px solid rgba(0, 0, 0, 0.6)
  border-radius: 100%

.spinner__text
  @extend %visuallyhidden