// ROOT ELEMENT
#root
  background-color: #F0EFE9


// HEADER
header
  position: fixed
  text-align: center
  width: 100%

h1
  font-size: 48px


// ITEM LIST
.item-list
  list-style: none
  margin: 0 auto
  max-width: 700px
  position: relative
  top: 150px


// ITEM
.item
  background-color: white
  border-radius: 20px
  margin-bottom: 20px
  padding: 40px
  position: relative

.item__name
  display: inline-block
  font-size: 32px
  margin: 0 0 20px

.item__poster
  max-height: 80px
  display: inline-block
  right: 40px;
  top: 0;

.item__btn-delete
  background-color: black
  border: 0
  border-radius: 10px
  color: white
  font-size: 14px
  font-weight: bold
  margin-left: 10px