.react-autosuggest__suggestions-container
  ul
    list-style: none
    max-width: 660px
    margin: 0 auto
    padding: 0
    color: #333

.react-autosuggest__suggestion
  padding: 16px
  cursor: pointer
  border-bottom: 3px solid transparent
  border-radius: 6px
  margin-bottom: 16px

  &:nth-of-type(even)
    background: rgba(0,0,0,.05)

  h3
    display: inline
    font-size: 16px
    font-weight: 600

.react-autosuggest__suggestion--focused
  outline: 2px dashed #333
  outline-offset: 6px

.react-autosuggest__item
  display: flex
  align-items: flex-start
  flex-wrap: wrap

  img
    max-width: 60px
    margin-right: 8px
    margin-bottom: 8px

  p
    font-size: 14px
    font-weight: 400

.react-autosuggest__item-info
  display: flex
  flex-direction: column
  flex: 1 1 0

.react-autosuggest__item-overview
  width: 100%