.react-autosuggest__suggestions-container
  ul
    list-style: none
    max-width: 660px
    margin: 0 auto
    padding: 0
    color: #fff

.react-autosuggest__suggestion
  margin-bottom: 40px
  cursor: pointer
  border-bottom: 3px solid transparent

  h3
    display: inline
    font-size: 22px
    font-weight: 600

.react-autosuggest__suggestion--focused
  outline: 2px dashed #555
  outline-offset: 6px

.react-autosuggest__item
  display: flex
  align-items: flex-start;

  img
    max-width: 120px
    margin-right: 10px

  p
    font-size: 12px
    font-weight: 100

.react-autosuggest__item-info
  display: flex
  flex-direction: column
