.react-autosuggest__suggestions-container
  ul
    list-style: none
    max-width: 660px
    margin: 0 auto
    padding: 0
    color: white

    img
      max-width: 40px
      vertical-align: top
      padding-right: 15px

.react-autosuggest__suggestion
  margin-bottom: 30px
  cursor: pointer
  border-bottom: 3px solid transparent

  h3
    display: inline
    font-weight: 400
    border-bottom: 2px dotted transparent

.react-autosuggest__suggestion--focused
  h3
    border-bottom-color: #aaa
