/////////
// MIXINS
/////////

@mixin FontFace($name, $path, $weight: 400, $style: normal) {
  @font-face {
    font-family: $name;
    src: url('#{$path}.woff2') format('woff2'),
         url('#{$path}.woff') format('woff'),
         url('#{$path}.ttf') format('truetype');
    font-weight: $weight;
    font-style: $style;
  }
}
 
@mixin FontAfterDownload($familyName, $fallbacks) {
  .fonts-loaded & {
    font-family: join($familyName, $fallbacks, comma);
  }
}
 
@mixin FontStackPrimary($fallbackStack: (sans-serif)) {
  font-family: $fallbackStack;
  @include FontAfterDownload(Geomanist, $fallbackStack);
}
